


#banner {
    top: 0px;
    left: 0px;
    width: 100%;
}

body{
    margin: 0px;
}

.post{
    margin-left: 8%;
    margin-right: 8%;
}
.title{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 40px;
    color: rgb(102, 102, 102);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.credit{
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 10px;
    
}
.date{
    margin-top: 0px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: rgb(173, 173, 173);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.blurb{
    font-style: italic;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgb(173, 173, 173);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.paragraph{
    width: 70%;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    color: rgb(102, 102, 102);
}
.titleimage{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.navbar{
    margin-top: 5px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 1vw;
    color: rgb(102, 102, 102);
    
}
.navbar a{
    color: rgb(102, 102, 102);
    
}
a {
    text-decoration: none;
}
a:hover {
    font-style: italic;
    text-decoration: none !important;
}